[Unit]
Description=Conga Vacuum Cleaner service
After=network.target
Before=hostapd.service
StartLimitIntervalSec=2

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/opt/congaserver/congaserver.py

[Install]
WantedBy=multi-user.target
