@media screen and (min-aspect-ratio: 1/1) {
    #main {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        width: 20%;
        margin: 0px;
        border: 0px;
        padding: 0px;
        background-color: blanchedalmond;
        visibility: visible;
    }

    #map {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 20%;
        margin: 0px;
        border: 0px;
        padding: 0px;
        background-color: #00ff00;
    }

    div.battery_body {
        top: 2%;
        height: 5%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 50%;
    }

    div.battery_top {
        width: 0px;
        height: 0px;
        visibility: hidden;
    }

    img.charging {
        height: 100%;
        top: 0px;
        left: 30%;
        position: absolute;
    }

    div.battery_level {
        background-color: #000;
        height: 100%;
        width: 5%;
    }

    div.battery:after {
        background-color: inherit;
        border: inherit;
        content: "";
        display: block;
        bottom: 25%;
        position: absolute;
        right: -4%;
        top: 25%;
        width: 2%;
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    #main {
        position: absolute;
        bottom: 0px;
        height: 20%;
        left: 0px;
        right: 0px;
        margin: 0px;
        border: 0px;
        padding: 0px;
        visibility: visible;
        background-color: blanchedalmond;
    }

    #map {
        position: absolute;
        top: 0px;
        bottom: 20%;
        right: 0px;
        left: 0px;
        margin: 0px;
        border: 0px;
        padding: 0px;
        background-color: #00ff00;
    }

    div.battery_top {
        top: 20%;
        left: 7%;
        width: 4%;
        height: 3%;
        position: relative;
        visibility: visible;
    }

    div.battery_body {
        top: 20%;
        left: 5%;
        width: 8%;
        height: 50%;
        position: relative;
    }

    img.charging {
        width: 100%;
        position: relative;
        top: 20%;
    }

    div.battery_level {
        background-color: #000;
        height: 55%;
        width: 100%;
        bottom: 0%;
        position: absolute;
    }

    div.battery:after {
        visibility: hidden;
    }
}

body {
    font-size: 25px;
    width: 100%;
}



#div_settings {
    position: absolute;
    margin: 0px;
    border: 0px;
    padding: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#table_settings, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

#table_settings {
    text-align: center;
    vertical-align: middle;
}

td.powerwater_active {
    background-color: #00ffff;
}


#audio {
    border: 2px solid black !important;
    margin: 2px;
}

#settings_row1, #settings_row2 {
    border-bottom: 7px solid black;
}

#pic_back {
    border-top: 7px solid black;
    border-left: 7px solid black;
}

div.battery_common {
    background-color: #fff;
    border: 2px solid #000;
}
